#radio-player.single-player {
    max-width: 512px !important;
}

#radio-right.single-player {
    display: none;
}

div#radio-right div.song {
    cursor: pointer;
    padding: 5px;
}

div#radio-right div.song div.song-now-playing-icon-container img.now-playing {
    display: none;
    margin-top: 15px;
}

div#radio-right div.song.active-song-container div.song-now-playing-icon-container img.now-playing {
    display: block;
}

div#radio-right div.song.active-song-container:hover div.play-button-container {
    display: none;
}

div#radio-right div.song div.song-meta-data span.song-title {
    cursor: auto;
}

div#radio-right div.song div.song-meta-data span.song-artist {
    cursor: auto;
}

div#progress-container {
    cursor: pointer;
}

div#progress-container progress#song-played-progress {
    background: transparent;
}

div#progress-container input[type=range] {
    cursor: pointer;
}

div#control-container div#repeat-container div#repeat {
    width: 24px;
    height: 19px;
    cursor: pointer;

}

div#control-container div#repeat-container div#repeat.repeat-off {

    background: url("../img/repeat-off.svg");

}

div#control-container div#repeat-container div#repeat.repeat-on {

    background: url("../img/repeat-on.svg");

}

div#control-container div#repeat-container div#shuffle {
    width: 23px;
    height: 19px;
    cursor: pointer;
    float: right;
}

div#control-container div#repeat-container div#shuffle.shuffle-off {
    background: url("../img/shuffle-off.svg");
}

div#control-container div#repeat-container div#shuffle.shuffle-on {
    background: url("../img/shuffle-on.svg");
}

div#control-container div#central-control-container div#central-controls div#previous {
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url("../img/prev.svg");
    background-repeat: no-repeat;
    float: left;
    margin-top: 10px;
    margin-right: -5px;

}

div#control-container div#central-control-container div#central-controls div#play-pause {
    display: inline-block;
    width: 60px;
    height: 60px;
    cursor: pointer;
    float: left;

}

div#control-container div#central-control-container div#central-controls div#play-pause.paused {
    background: url("../img/play.svg");
}

div#control-container div#central-control-container div#central-controls div#play-pause.playing {
    background: url("../img/pause.svg");
}

div#control-container div#central-control-container div#central-controls div#next {
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url("../img/next.svg");
    background-repeat: no-repeat;
    float: left;
    margin-top: 10px;
    margin-left: -5px;

}

/* Small only */
@media screen and (max-width: 39.9375em) {
    div#radio-player div#repeat-container div#repeat {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    div#radio-player div#repeat-container div#shuffle {
        display: none;
    }

    div#radio-player div#volume-container div#shuffle-right {
        display: block;
    }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    div#radio-player div#repeat-container div#repeat {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    div#radio-player div#repeat-container div#shuffle {
        display: none;
    }

}

/* Large and up */
@media screen and (min-width: 64em) {
    div#radio-player div#repeat-container div#repeat {
        margin-left: 10px;
        margin-right: 20px;
        float: left;
    }

    div#radio-player div#volume-container div#shuffle-right {
        display: none;
    }
}
